<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>WallapopTIW</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/style.css}"
	href="../../css/style.css" />
<link rel="stylesheet" th:href="@{/css/font-awesome-4.7.0/css/font-awesome.css}" href="../../css/font-awesome-4.7.0/css/font-awesome.css" />
<script th:href="@{/js/jquery.min.js}" src="../../js/jquery.min.js"></script>
<script th:href="@{/js/bootstrap.min.css}"
	src="../../js/bootstrap.min.js"></script>
<script
	src="http://blackpeppersoftware.github.io/thymeleaf-fragment.js/thymeleaf-fragment.js"
	defer="defer" th:if="false"></script>
</head>
</head>
<body>
	<div th:replace="/header::header"></div>
	<div class="container">
		<div class="row">
			<div id="entrada" class="col-md-3">
				<table class = "table table-hover">
					<thead>
						<tr>
							<th>Origen</th>
							<th>Producto</th>
							<th>Mensaje</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="mensaje: ${listaMensajes}" onclick="'location'index.html'">
							<td th:text="${mensaje.origen}"></td>
							<td th:text="${mensaje.producto}"></td>
							<td th:text="${mensaje.mensaje}"></td>
							<td>
								<a th:href="@{'/enviarMensaje/'+${usuario.propietario}+'/'+${mensaje.idproducto}}">
									<i class="fa fa-comment-o" aria-hidden="true"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<br />
 	</div>
</body>
<div th:replace="/header::footer"></div>
</html>