    <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>WallapopTIW</title>

        <!-- Latest compiled and minified CSS -->
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>WallapopTIW</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
        <link rel="stylesheet" th:href="@{/css/crearProductos.css}" href="../../css/crearProductos.css" />
		<link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" />
		<script th:href="@{/js/jquery.min.js}" src="../../js/jquery.min.js"></script>
		<script th:href="@{/js/jquery-validator.min.js}" src="../../js/jquery-validator.min.js"></script>
		<script th:href="@{/js/bootstrap.min.css}" src="../../js/bootstrap.min.js"></script>
		<script src="http://blackpeppersoftware.github.io/thymeleaf-fragment.js/thymeleaf-fragment.js" defer="defer" th:if="false"></script>
    </head>
    <body>
       <div th:replace="/header::header"></div>      
    <div class="container">
            <div id="titulo">
                <h2><strong>Formulario para dar de alta productos</strong></h2>
            </div>
            <br/>
        <div class="row">
            <div class="registro">
                   <form th:object="${producto}" th:action="@{/crearProducto}" method="post" class="form-horizontal" id="registro">
                      <div class="form-group">
                        <label  class="col-md-4" for="exampleInputEmail1"><h5 class="text-center"><strong>Nombre del producto</strong></h5></label>
                        <div class="col-md-8">
                        <input  th:field="*{titulo}" type="text" class="form-control" id="exampleInputEmail1" placeholder="Nombre"/>
                        </div>
                      </div>
                      <div class="form-group">
                        <label  class="col-md-4" for="exampleInputPassword1"><h5 class="text-center"><strong>Categoria</strong></h5></label>
                        <div class="col-md-8">
                        <input th:field="*{categoria}" type="text" class="form-control" id="exampleInputPassword1" placeholder="Categoria"/>
                        </div>
                      </div>
                      <div class="form-group">
                        <label  class="col-md-4" for="exampleInputPassword1"><h5 class="text-center"><strong>Descripcion</strong></h5></label>
                        <div class="col-md-8">
                        <textarea th:field="*{descripcion}" type="text" class="form-control" id="exampleInputPassword1" placeholder="Descripcion"></textarea>
                        </div>
                      </div>
                       <div class="form-group">
                        <label  class="col-md-4" for="exampleInputPassword1"><h5 class="text-center"><strong>ciudad</strong></h5></label>
                        <div class="col-md-8">
                        <input th:field="*{ciudad}" type="text" class="form-control" id="exampleInputPassword1" placeholder="Ciudad"/>
                        </div>
                      </div>
                      <div class="form-group">
                        <label  class="col-md-4"  for="exampleInputFile"><h5 class="text-center"><strong>Precio</strong></h5></label>
                        <div class="col-md-8">
                        <input th:field="*{precio}" type="number" class="form-control" id="exampleInputFile"/>
                        </div>
                        
                      </div>
                      
                      <!--  <div class="form-group">
                            <label class="col-md-4" for="nombre"><h5 class="text-center"><strong>Imagen</strong></h5></label> 
                            <div class="col-md-8">
                                <input th:field="*{imagen}" type="text" class="form-control" id="imagen_producto"
                                placeholder="Imagen" name="imagen"/>
                           </div>
                        </div> -->
                        <!-- <div class="form-group">
                            <label class="col-md-4" for="nombre"><h5 class="text-center"><strong>Usuario</strong></h5></label> 
                            <div class="col-md-8">
                                <input th:field="*{usuario}" type="text" class="form-control" id="imagen_producto"
                                placeholder="Imagen" name="imagen"/>
                           </div>
                        </div>
                        -->
                          <div class="form-group">
                            <label class="col-md-4" for="nombre"><h5 class="text-center"><strong>Estado</strong></h5></label> 
                            <div class="col-md-8">
                                <input th:field="*{estado}" type="text" class="form-control" id="imagen_producto"
                                placeholder="Estado"/>
                           </div>
                        </div>
                      <br/>
                          <div id="crearProductoButton">
                            <button type="submit" class="btn btn-default">Crear producto</button>
                          </div>
                    </form>
            </div>
        </div>
        
    </div>
    <br/>
    <hr/>
    <div th:replace="/header::footer"></div>
    </body>

</html>

