
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>WallapopTIW</title>

        <!-- Latest compiled and minified CSS -->
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>WallapopTIW</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
        <link rel="stylesheet" th:href="@{/css/formulario.css}" href="../../css/formulario.css" />
		<link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" />
		<link rel="stylesheet" th:href="@{/css/font-awesome-4.7.0/css/font-awesome.css}" href="../../css/font-awesome-4.7.0/css/font-awesome.css" />
		<script th:href="@{/js/jquery.min.js}" src="../../js/jquery.min.js"></script>
		<script th:href="@{/js/jquery-validator.min.js}" src="../../js/jquery-validator.min.js"></script>
		<script th:href="@{/js/bootstrap.min.css}" src="../../js/bootstrap.min.js"></script>
		<script th:href="@{/js/registro.js}" src="../../js/registro.js"></script>
		<script src="http://blackpeppersoftware.github.io/thymeleaf-fragment.js/thymeleaf-fragment.js" defer="defer" th:if="false"></script>
    </head>
    <body>
        <div th:replace="/header::header"></div>     
    <div class="container">
        <div id="titulo">
            <h2><strong>Editar producto: <p th:text="${producto.titulo}"></p></strong></h2>
        </div>
        <div class="registro">
            <div class="row">
            <div id="registro">
               <form  th:action="@{'/editarProducto/'+${idProd}}" enctype="multipart/form-data" th:object="${prodeditar}" method="post" class="form-horizontal" id="registration">
                  <div class="form-group">
                     <label  class="col-md-4"  for="exampleInputFile"><h5 class="text-center"><strong>Titulo</strong></h5></label> 
                    <div class="col-md-8">
                     <p th:text="${producto.titulo}"></p>
                        <input type="text" th:field="*{titulo}" class="form-control" data-validation="required" data-validation-length="max30" data-validation-error-msg="Introduzca un nombre" placeholder="Titulo nuevo para el producto"/>
                    </div>
                  </div>
                  <div class="form-group">
                        <label  class="col-md-4" for="exampleInputPassword1"><h5 class="text-center"><strong>Categoria</strong></h5></label>
                        <div class="col-md-8">
                        <p th:text="${producto.categoria}"></p>
                        <select th:field="*{categoria}"
							class="form-control" name="categoria" data-validation="required" 
							data-validation-error-msg="Debe seleccionar una categoria entre las disponibles">
							<option value="Mueble">Mueble</option>
							<option value="Coche">Coche</option>
							<option value="Decoracion">Decoracion</option>
							<option value="Juguete">Juguete</option>
						</select>
                        </div>
                      </div>
                   <div class="form-group">
                     <label  class="col-md-4"  for="exampleInputFile"><h5 class="text-center"><strong>Estado</strong></h5></label> 
                    <div class="col-md-8">
                     <p th:text="${producto.estado}"></p>
                     <select th:field="*{estado}"
							class="form-control" name="categoria" data-validation="required" 
							data-validation-error-msg="Debe seleccionar una categoria entre las disponibles">
							<option value="Disponible">Disponible</option>
							<option value="Vendido">Vendido</option>
							<option value="Reservado">Reservado</option>
						</select>
                     </div>
                    
                  </div>
                  <div class="form-group">
                     <label  class="col-md-4"  for="exampleInputFile"><h5 class="text-center"><strong>Descripcion</strong></h5></label> 
                    <div class="col-md-8">
                     <p th:text="${producto.descripcion}"></p>
                    <input th:field="*{descripcion}" type="text" class="form-control" data-validation="required" data-validation-length="max30" data-validation-error-msg="Introduzca su segundo apellido" placeholder="Estado nuevo" name="SSurname"/>
                    </div>
                  </div>
                  <div class="form-group">
                     <label  class="col-md-4"  for="exampleInputFile"><h5 class="text-center"><strong>Precio</strong></h5></label> 
                    <div class="col-md-8">
                     <p th:text="${producto.precio}"></p>
                    <input th:field="*{precio}" type="number" class="form-control" data-validation="required" data-validation-length="max30" data-validation-error-msg="Introduzca su segundo apellido" placeholder="Nuevo precio para el producto" name="SSurname"/>
                    </div>
                  </div>
                  <div class="form-group">
                     <label  class="col-md-4"  for="exampleInputFile"><h5 class="text-center"><strong>Ciudad</strong></h5></label> 
                    <div class="col-md-8">
                     <p th:text="${producto.ciudad}"></p>
                    <input th:field="*{ciudad}" type="text" class="form-control" data-validation="required" data-validation-length="max30" data-validation-error-msg="Introduzca su segundo apellido" placeholder="Ciudad de venta" name="SSurname"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-md-4"  for="exampleInputFile"><h5 class="text-center"><strong>Imagen</strong></h5></label>
                    <div class="col-md-8">
                     	<img th:src="@{${producto.image}}"/>
                    	<input type="file" data-validation-error-msg="Introduce un correo electrónico con el formato correcto;     email@dominion.com"
                            class="form-control" data-validation="email"
                            placeholder="Introduce tu email" name="Email"/>
                    </div>
                  </div>
                      <div id="registerButon">
                        <button type="submit" class="btn btn-default" name="Register">Editar producto</button>
                      </div>
                </form>
                <input class="btn btn-default" type="button" value="Volver a inicio" onclick="location='/index'" />
                </div>
            </div>
        </div>
        
    </div>
     <br/>
    <hr/>
<div th:replace="/header::footer"></div>
    </body>

</html>

