
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>WallapopTIW</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" />
		<script th:href="@{/js/jquery.min.js}" src="../../js/jquery.min.js"></script>
		<script th:href="@{/js/bootstrap.min.css}" src="../../js/bootstrap.min.js"></script>
		<script src="http://blackpeppersoftware.github.io/thymeleaf-fragment.js/thymeleaf-fragment.js" defer="defer" th:if="false"></script>
    </head>
    <body>
    	<div th:replace="/header::header"></div>
        <div class="container">
            <div class="row">
                <div id="productos" class="col-md-3">
                    <img th:href="@{/images/productos.png}" src="../../images/productos.png"/>
                    <h2>Titulo</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					
                    <button type="submit" class="btn btn-default">Ver más</button>
					
                </div>
                 <div id="productos" class="col-md-3 col-md-offset-1">
                    <img th:href="@{/images/productos.png}" src="../../images/productos.png"/>
                    <h2>Titulo</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <button type="submit" class="btn btn-default">Ver más</button>

                </div>
                 <div id="productos" class="col-md-3 col-md-offset-1">
                    <img th:href="@{/images/productos.png}" src="../../images/productos.png"/>
                    <h2>Titulo</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <button type="submit" class="btn btn-default">Ver más</button>

                </div>
            </div>
            <div class="row">
                 <div id="productos" class="col-md-3">
                    <img th:href="@{/images/productos.png}" src="../../images/productos.png"/>
                    <h2>Titulo</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <button type="submit" class="btn btn-default">Ver más</button>

                </div>
                 <div id="productos" class="col-md-3 col-md-offset-1">
                    <img th:href="@{/images/productos.png}" src="../../images/productos.png"/>
                    <h2>Titulo</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <button type="submit" class="btn btn-default">Ver más</button>

                </div>
                 <div id="productos" class="col-md-3 col-md-offset-1">
                    <img th:href="@{/images/productos.png}" src="../../images/productos.png"/>
                    <h2>Titulo</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <button type="submit" class="btn btn-default">Ver más</button>

                </div>
            </div>
            <div class="row">
                 <div id="productos" class="col-md-3">
                    <img th:href="@{/images/productos.png}" src="../../images/productos.png"/>
                    <h2>Titulo</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <button type="submit" class="btn btn-default">Ver más</button>

                </div>
                 <div id="productos" class="col-md-3 col-md-offset-1">
                    <img th:href="@{/images/productos.png}" src="../../images/productos.png"/>
                    <h2>Titulo</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <button type="submit" class="btn btn-default">Ver más</button>

                </div>
            </div>
    	</div>
        <br/>
        
    </body>
	<div th:replace="/header::footer"></div>
</html>

