
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>WallapopTIW</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
    </head>
    <body>
         <form class="navbar-form navbar-left" role="search" action = "buscarProductosSimple" method ="post">
                                <div class="form-group ">
                                    <input type="text" class="form-control" placeholder="Buscar producto ..." name = "palabra"/>
                                </div>
                                <button type="submit" class="btn btn-default">Buscar</button>
                            </form>
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                	 Busqueda avanzada
                                	 </a>
                                    <ul class="dropdown-menu">
                                    	<li>
	                                        <form class="navbar-form navbar-left" role="search" action ="buscarProducto" method ="post">
	                                            <div class="form-group ">
	                                                <input type="text" class="form-control" placeholder="Categoria ..." name = "categoria"/> 
	                                                <input type="text" class="form-control" placeholder="Ciudad ..." name = "ciudad"/> 
	                                                <input type="text" class="form-control" placeholder="Vendedor ..." name = "vendedor"/>
	                                                <input type="text" class="form-control" placeholder="Titulo ..." name = "titulo"/>
	                                                <input type="text" class="form-control" placeholder="Descripcion ..." name = "descripcion"/>
	                                            </div>
	                                             <button type="submit" class="btn btn-default">Buscar</button>
	                                        </form>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

    </body>

</html>

