<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

       <nav th:fragment="NavMenu" id="navegador" class="navbar navbar-default">
             <div class="container-fluid">
                <div class="row">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="col-md-2">
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                            <a class="navbar-brand" href="/">
                             <img id="logo" th:href="@{images/titulo.png}" src="images/titulo.png"/>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div id="topNavElement" class="collapse navbar-collapse navbar-ex1-collapse">
                            <form class="navbar-form navbar-left" role="search" action = "buscarProductosSimple" method ="post">
                                <div class="form-group ">
                                    <input type="text" class="form-control" placeholder="Buscar producto ..." name = "palabra"/>
                                </div>
                                <button type="submit" class="btn btn-default">Buscar</button>
                            </form>
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                	 Busqueda avanzada
                                	 </a>
                                    <ul class="dropdown-menu">
                                    	<li>
	                                        <form class="navbar-form navbar-left" role="search" action ="buscarProducto" method ="post">
	                                            <div class="form-group ">
	                                                <input type="text" class="form-control" placeholder="Categoria ..." name = "categoria"/> 
	                                                <input type="text" class="form-control" placeholder="Ciudad ..." name = "ciudad"/> 
	                                                <input type="text" class="form-control" placeholder="Vendedor ..." name = "vendedor"/>
	                                                <input type="text" class="form-control" placeholder="Titulo ..." name = "titulo"/>
	                                                <input type="text" class="form-control" placeholder="Descripcion ..." name = "descripcion"/>
	                                            </div>
	                                             <button type="submit" class="btn btn-default">Buscar</button>
	                                        </form>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
					</div>
					
                    <div class="col-md-5">
                        <ul class="nav navbar-nav navbar-right">
                        	<li>
	                            <div class="form-group ">
	                                <form class="form-inline navbar-form" role="form" action="login"
	                                    method="post" id="login">
	                                    <label class="sr-only" for="ejemplo_email_2">Email</label> 
	                                        <input type="text" class="form-control" name="User" placeholder="Introduce tu email" data-validation="email" data-validation-error-msg="No has introducido un email valido (a@b.c)"/>
	                                    <label class="sr-only" for="ejemplo_password_2">Contraseña</label>
	                                    <input type="password" class="form-control" name="Pass"
	                                        placeholder="Contraseña" data-validation="length"
	                                        data-validation-length="min8"
	                                        data-validation-error-msg="La contraseña tiene al menos 8 caracteres"/>
	                                    <input type="submit" class="btn btn-default" value="Entrar"/>
	                                    ¿No estas registrado? <a href="registro.html">Registrate aqui.</a>
	                                </form>
	                                
	                            </div>
                         	</li>

                        </ul>
                    </div>
            </div>
          </div>

        </nav>
</body>
</html>