<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>WallapopTIW</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" />
		<script th:href="@{/js/jquery.min.js}" src="../../js/jquery.min.js"></script>
		<script th:href="@{/js/bootstrap.min.css}" src="../../js/bootstrap.min.js"></script>
		<script src="http://blackpeppersoftware.github.io/thymeleaf-fragment.js/thymeleaf-fragment.js" defer="defer" th:if="false"></script>
    </head>
<body>



    <table class="table table-hover">
    <h2>Usuarios del sistema</h2>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido1</th>
            <th>Apellido2</th>
            <th>Email</th>
            <th>Contraseña</th>
            <th>Ciudad</th>
            <th>Opciones</th>
        </tr>
        <tr>
        <c:if test="empty usuarios"><p>Usuarios vacíos</p></c:if>
        
<c:forEach items="${usuarios}" var="usuario">
<tr>
	<form>
		<td>${usuario.id }</td>
		<td>${usuario.nombre }</td>
		<td>${usuario.apellido1 }</td>
		<td>${usuario.apellido2 }</td>
		<td>${usuario.email }</td>
		<td>${usuario.password }</td>
		<td>${usuario.ciudad }</td>
		<td>
		<a href="usuarioAdmin?id=${usuario.id }"><span class="glyphicon glyphicon-tag"></span></a>
		<a href="editarUsuarioAdmin?id=${usuario.id}"><span class="glyphicon glyphicon-edit"></span></a>
		<a href="borrarUsuarioAdmin?id=${usuario.id}"><span class="glyphicon glyphicon-trash"></span></a>
		</td>

	</form>
	</tr>
	</c:forEach>
	

	 <table class="table table-hover">
	 <h2>Productos del sistema</h2>
<tr>
<th>Id</th>
<th>Titulo</th>
<th>Categoría</th>
<th>Descripción</th>
<th>Precio</th>
<th>Imagen</th>
<th>Estado</th>
<th>Opciones</th>

</tr>


<c:forEach items="${productos}" var="producto"> <!-- recorremos todos los objetos de la coleccion usuarios y cada objeto devuelto lo asignamos a la variable usuario -->
<tr>
<form>
	<td>${producto.id }</td> 
	<td>${producto.titulo }</td> 
	<td>${producto.categoria }</td>
	<td>${producto.descripcion }</td>
	<td>${producto.precio }</td>
	<td><img src = "./imagenes/${producto.imagen }" width ="25" height="25"></td>
	<td>${producto.estado }</td>

		<td>
		<a href="VerProductosAdmin?id=${producto.id }"><span class="glyphicon glyphicon-tag"></span></a>
		<a href="EditarProductoAdmin?id=${producto.id}"><span class="glyphicon glyphicon-edit"></span></a>
		<a href="eliminarProductoClave?id=${producto.id}"><span class="glyphicon glyphicon-trash"></span></a></td>
	</form>
	</tr>
	</c:forEach>
	
</body>
<div th:replace="/header::footer"></div>
</html>