<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>WallapopTIW</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" />
		<script th:href="@{/js/jquery.min.js}" src="../../js/jquery.min.js"></script>
		<script th:href="@{/js/bootstrap.min.css}" src="../../js/bootstrap.min.js"></script>
		<script src="http://blackpeppersoftware.github.io/thymeleaf-fragment.js/thymeleaf-fragment.js" defer="defer" th:if="false"></script>
    </head>
<body>



    <table>
    <h2>Usuarios del sistema</h2>
        <tr>
            <th>Nombre</th>
            <th>Apellido1</th>
            <th>Apellido2</th>
            <th>Email</th>
            <th>Contraseña</th>
            <th>Ciudad</th>
            <th>Opciones</th>
        </tr>
        <tr>
       
        

<tr th:each= "usuario : ${listaUsuarios}">
	
		<td th:text="${usuario.id}"></td>
		<td th:text="${usuario.nombre}"></td>
		<td th:text="${usuario.apellido1}"></td>
		<td th:text="${usuario.apellido2}"></td>
		<td th:text="${usuario.email}"></td>
		<td th:text="${usuario.password}"></td>
		<td th:text="${usuario.ciudad}"></td>
		<a th:href="@{'usuarioAdmin/' + ${usuario.id }}"><span class="glyphicon glyphicon-tag"></span></a>
		<a th:href="@{'usuarioAdmin/' + ${usuario.id }}"><span class="glyphicon glyphicon-edit"></span></a>
		<a th:href="@{'usuarioAdmin/' + ${usuario.id }}"><span class="glyphicon glyphicon-trash"></span></a>
		

	
	</tr>
	</table>

	     <table>
    <h2>Productos del sistema</h2>
        <tr>
            <th>id</th>
            <th>titulo</th>
            <th>categoria</th>
            <th>descripcion</th>
            <th>image</th>
            <th>estado</th>
            <th>ciudad</th>
            <th>precio</th>
            <th>usuario</th>
        </tr>
        <tr>
       
        

<tr th:each= "producto : ${listaProductos}">
	
		<td th:text="${producto.id}"></td>
		<td th:text="${producto.titulo}"></td>
		<td th:text="${producto.categoria}"></td>
		<td th:text="${producto.descripcion}"></td>
		<td th:text="${producto.image}"></td>
		<td th:text="${producto.estado}"></td>
		<td th:text="${producto.ciudad}"></td>
		<td th:text="${producto.precio}"></td>
		<td th:text="${producto.usuario}"></td>
	
		<a th:href="@{'productoAdmin/' + ${producto.id }}"><span class="glyphicon glyphicon-tag"></span></a>
		<a th:href="@{'productoAdmin/' + ${producto.id }}"><span class="glyphicon glyphicon-edit"></span></a>
		<a th:href="@{'productoAdmin/' + ${producto.id }}"><span class="glyphicon glyphicon-trash"></span></a>
		
	
	</tr>
	</table>
	
</body>
<div th:replace="/header::footer"></div>
</html>