
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>WallapopTIW</title>

        <!-- Latest compiled and minified CSS -->
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>WallapopTIW</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
        <link rel="stylesheet" th:href="@{/css/formulario.css}" href="../../css/formulario.css" />
		<link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" />
		<script th:href="@{/js/jquery.min.js}" src="../../js/jquery.min.js"></script>
		<script th:href="@{/js/jquery-validator.min.js}" src="../../js/jquery-validator.min.js"></script>
		<script th:href="@{/js/bootstrap.min.css}" src="../../js/bootstrap.min.js"></script>
		<script src="http://blackpeppersoftware.github.io/thymeleaf-fragment.js/thymeleaf-fragment.js" defer="defer" th:if="false"></script>
    </head>
    <body>
        <div th:replace="/header::header"></div>     
    <div class="container">
        <div id="titulo">
            <h2><strong>Formulario de registro</strong></h2>
        </div>
        <div class="registro">
            <div class="row">
            <div id="registro">
               <form  th:action="@{/registrar}" th:object="${usuario}" method="post" class="form-horizontal" id="registration">
                  <div class="form-group">
                     <label  class="col-md-4"  for="exampleInputFile"><h5 class="text-center"><strong>Nombre</strong></h5></label> 
                    <div class="col-md-8">
                        <input th:field="*{nombre}" type="text" class="form-control" data-validation="required" data-validation-length="max30" data-validation-error-msg="Introduzca un nombre" placeholder="Nombre" name="Uname"/>
                    </div>
                  </div>
                  <div class="form-group">
                     <label  class="col-md-4"  for="exampleInputFile"><h5 class="text-center"><strong>Primer apellido</strong></h5></label> 
                    <div class="col-md-8">
                    <input th:field="*{apellido1}" type="text" class="form-control" data-validation="required" data-validation-length="max30" data-validation-error-msg="Introduzca su primer apellido" placeholder="Segundo apellido" name="FSurname"/>
                    </div>
                  </div>
                   <div class="form-group">
                     <label  class="col-md-4"  for="exampleInputFile"><h5 class="text-center"><strong>Segundo apellido</strong></h5></label> 
                    <div class="col-md-8">
                    <input th:field="*{apellido2}" type="text" class="form-control" data-validation="required" data-validation-length="max30" data-validation-error-msg="Introduzca su segundo apellido" placeholder="Segundo apellido" name="SSurname"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-md-4"  for="exampleInputFile"><h5 class="text-center"><strong>Correo electrónico</strong></h5></label>
                    <div class="col-md-8">
                    <input th:field="*{email}" data-validation-error-msg="Introduce un correo electrónico con el formato correcto;     email@dominion.com"
                            class="form-control" data-validation="email"
                            placeholder="Introduce tu email" name="Email"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-md-4" for="exampleInputFile"><h5 class="text-center"><strong>Contraseña</strong></h5></label>
                    <div class="col-md-8">
                    <input th:field="*{password}"
                            type="password" class="form-control" data-validation-length="min8" data-validation-error-msg="Introduzca una contraseña de al menos 8 caracteres"  placeholder="Contraseña" name="pass_confirmation"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-md-4"><h5 class="text-center"><strong> Confirmación de contraseña</strong></h5></label>
                    <div class="col-md-8">
                    <input
                            type="password" class="form-control" data-validation="confirmation" 
                            placeholder="Verificar contraseña" name="pass"/>
                    </div>
                  </div>
                  <div class="form-group">
                        <label class="col-md-4" for="ejemplo_password_1"><h5 class="text-center"><strong>Ciudad</strong></h5></label> 
                            <div class="col-md-8">
                                <select  th:field="*{ciudad}" class="form-control" name="City" size="5" data-validation="required" data-validation-length="max1">
                                <option value="">A coruna</option>
                                <option value="">Alava</option>
                                <option value="">Albacete</option>
                                <option value="">Alicante</option>
                                <option value="">Almeria</option>
                                <option value="">Asturias</option>
                                <option value="">Avila</option>
                                <option value="">Badajoz</option>
                                <option value="">Baleares</option>
                                <option value="">Barcelona</option>
                                <option value="">Burgos</option>
                                <option value="">Caceres</option>
                                <option value="">Cadiz</option>
                                <option value="">Cantabria</option>
                                <option value="">Castellon</option>
                                <option value="">Ceuta</option>
                                <option value="">Ciudad real</option>
                                <option value="">Cordoba</option>
                                <option value="">Cuenca</option>
                                <option value="">Girona</option>
                                <option value="">Granada</option>
                                <option value="">Guadalajara</option>
                                <option value="">Guipuzcoa</option>
                                <option value="">Huelva</option>
                                <option value="">Huesca</option>
                                <option value="">Jaen</option>
                                <option value="">La rioja</option>
                                <option value="">Las palmas</option>
                                <option value="">Leon</option>
                                <option value="">Lleida</option>
                                <option value="">Lugo</option>
                                <option value="">Madrid</option>
                                <option value="">Malaga</option>
                                <option value="">Melilla</option>
                                <option value="">Murcia</option>
                                <option value="">Navarra</option>
                                <option value="">Ourense</option>
                                <option value="">Palencia</option>
                                <option value="">Pontevedra</option>
                                <option value="">Salamanca</option>
                                <option value="">Tenerife</option>
                                <option value="">Segovia</option>
                                <option value="">Sevilla</option>
                                <option value="">Soria</option>
                                <option value="">Tarragona</option>
                                <option value="">Teruel</option>
                                <option value="">Toledo</option>
                                <option value="">Valencia</option>
                                <option value="">Valladolid</option>
                                <option value="">Vizcaya</option>
                                <option value="">Zamora</option>
                                <option value="">Zaragoza</option>
                                </select>
                            </div>
                    </div>
                  <div class="checkbox">
                    <label>
                      <input  data-validation="required" data-validation-error-msg="Es necesario aceptar las políticas de uso de la información" type="checkbox"/> Acepto la política de uso de la información
                    </label>
                  </div>
                  <br/>
                      <div id="registerButon">
                        <button type="submit" class="btn btn-default" name="Register">Registrarse</button>
                      </div>
                </form>
            <script>
                $.validate({
                    form : '#registration', 
                     modules : 'security',
                     onError : function($form) {
                         console.log($form);
                          return false;
                        }
                });
            </script>
                </div>
            </div>
        </div>
        
    </div>
     <br/>
    <hr/>
<div th:replace="/header::footer"></div>
    </body>

</html>

