target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
./Chat/apt_generated
./Chat/classpath
./Chat/factorypath
./Chat/project
./Chat/settings
./Chat/springBeans

./Client/apt_generated
./Client/classpath
./Client/factorypath
./Client/project
./Client/settings
./Client/springBeans

./Catalog/apt_generated
./Catalog/classpath
./Catalog/factorypath
./Catalog/project
./Catalog/settings
./Catalog/springBeans

./Gateway/apt_generated
./Gateway/classpath
./Gateway/factorypath
./Gateway/project
./Gateway/settings
./Gateway/springBeans

### IntelliJ IDEA ###
./Chat/idea
*./Chat/iws
*./Chat/iml
*./Chat/ipr

./Chat/idea
*./Client/iws
*./Client/iml
*./Client/ipr

./Catalog/idea
*./Catalog/iws
*./Catalog/iml
*./Catalog/ipr

./Gateway/idea
*./Gateway/iws
*./Gateway/iml
*./Gateway/ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/