body{
	background-color: #FAAC58;
}
#productos{
	background-color: white;
	border-radius: 10px;
	text-align: center;
	margin-top: 1%;

}
#productos > img{
	width: 30%;
	height: auto;
}
#productos > button{
	text-align: center;
}
#logo{
	width: 50%;
	height: auto;
}
p{
	text-align: justify;
}
#aavatar{
	width:40px;
	border-radius: 25px;
}
#saludo{
	margin-right: 20px;
}
footer{
	background-color: #424242;
	color: white;
	padding-top: 5%;
	padding-bottom: 5%;

}
#navegador{
		background-color: #424242;
		border-color: #424242;
		color: white;
}

.footerL{
text-decoration: none;
color: white;
}
.footerL:hover{
	text-decoration: none;
	color: #FAAC58;
}

.footerLink{
	list-style: none;
	display:inline-block;
	margin-left: 2%;
	margin-right: 2%;
}

