body{
	/*background-color: #FAAC58;*/
	background-image: url("../../images/blackpattern.png");
}
#contenido{
	margin-left: 10%;
	margin-right:10%;
	width: auto;
	border-radius:5px;
	background-color: #252624;
}
#Anterior{
	font-size: 150%;
	float:left;
	    margin-left: 38%;
    padding-right: 5%;

}
#Siguiente{
	font-size: 150%;
	float:left;

}
#AvatarImage{
	text-align: center;
	    margin-left: 67%;
	    float:left;
}
#avatar{

}
#tituloPag{
	color:white;
	margin-left: 3%;
}
#optionIcon{
	margin:5px;
	font-size: 150%;
}
#opciones{
	    width: 13%;
}
#table{
	background-color:white;
}
i{
	font-size: 200%;
}
#productos{
   background-color: #FFFFFF;
    margin: 1%;
    text-align: center;
    transition: height 2s;
    border-radius: 5px;
    padding-bottom: 10px;

}
#productos > img{
	width: 70%;
	height: auto;
}
#precioTitulo{
	    font-size: 123%;
}
#productos > button{
	text-align: center;
}
#logo{
	width: 100%;
	height: auto;
	    margin-top: -15px;
}
p{
	text-align: justify;
}
#aavatar{
	width:40px;
	border-radius: 25px;
	float:right;
}
#saludo{
	margin-right: 20px;
}
footer{
	background-color: #424242;
	color: white;
	padding-top: 5%;
	padding-bottom: 5%;

}
#navegador{
	backgrond-color:white
	/*	background-color: #424242;
		border-color: #424242;*/
		color: white;
}
#bienvenida{
	color: black;!important
}

.footerL{
text-decoration: none;
color: white;
}
.footerL:hover{
	text-decoration: none;
	color: #FAAC58;
}

.footerLink{
	list-style: none;
	display:inline-block;
	margin-left: 2%;
	margin-right: 2%;
}
td>img{
	width:25%;
	height:auto;
	text-align: center;
}
.camposEnviar{
	margin-left: 50%;
    margin-top: 7%;
}
#inputPass{
	 width: 27%;
}
#imagenVerProducto{
	    width: 80%;
    height: auto;
}
   

